#banner{
  width: 528px;
  height: 53px;
  margin: 0 auto;
  margin-top: 10px;
  background-color: #E5E5E5;

  font-style: italic;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Product Gallery Flexbox */
#product-gallery-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.product-wrapper{
  flex: 0 0 33.33%;
}

.product-wrapper img{
  width:100%;
  height:auto;
  object-fit: contain;
  opacity: 1;
  -webkit-transition: opacity .1s ease-out;
  -moz-transition: opacity .1s ease-out;
  -o-transition: opacity .1s ease-out;
  transition: opacity .1s ease-out;
}

.product-wrapper img:hover{
  opacity: .8;
  -webkit-transition: opacity .1s ease-out;
  -moz-transition: opacity .1s ease-out;
  -o-transition: opacity .1s ease-out;
  transition: opacity .1s ease-out;
}

.flex-cap{
  display: flex;
  flex-direction: row;
}

.p-name{
  flex: 0 0 70%;
  font-weight: bold;
}

.p-name a{
  text-decoration: none;
  color: inherit;
}

.p-price{
  flex: 0 0 30%;
  text-align: right;
  font-weight: 500;
}

.p-desc{
  font-size: 14px;
}
